 <EditForm Model="Employee" OnValidSubmit="EmployeeValid">
     <DataAnnotationsValidator></DataAnnotationsValidator>
     <MudNumericField Disabled="true" ReadOnly="true" Label="Id" @bind-Value="@Employee.Id" For="() => Employee.Id"/>
     <MudTextField T="string" Label="First Name" @bind-Value="@Employee.FirstName" For="() => Employee.FirstName" Disabled="!IsEditMode"/>
     <MudTextField T="string" Label="Last Name" @bind-Value="@Employee.LastName" For="() => Employee.LastName" Disabled="!IsEditMode"/>
     <MudEnumSelect TEnum="Position" Label="Position" @bind-Value="@Employee.Position" For="() => Employee.Position" Disabled="!IsEditMode"/>
     <MudEnumSelect TEnum="Gender" Label="Gender" @bind-Value="@Employee.Gender" For="@(() => Employee.Gender)" Disabled="!IsEditMode" />
     <MudDatePicker Label="Birthdate" @bind-Date="@Employee.BirthDate" For="() => Employee.BirthDate" Disabled="!IsEditMode"/>
     <MudNumericField T="int?" Label="Salary:" @bind-Value="@Employee.Salary" For="() => Employee.Salary" Disabled="!IsEditMode"/>
     <MudTextField T="string" Label="Address" @bind-Value="@Employee.Address" For="() => Employee.Address" Disabled="!IsEditMode"/>
     <MudDatePicker Label="Hire Date" @bind-Date="@Employee.HireDate" For="() => Employee.HireDate" Disabled="!IsEditMode"/>
     @if (IsEditMode)
     {
         <div class="pt-2">
             <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
             <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel">Cancel</MudButton>
         </div>
     }
 </EditForm>

@code {
    [Parameter] public ExamEmployee Employee { get; set; }
    [Parameter] public EventCallback<ExamEmployee> EmployeeChanged { get; set; }
    [Parameter] public bool IsEditMode { get; set; }
    
    //Call this once the Employee is known to be valid
    [Parameter] public EventCallback EmployeeValid { get; set; }
    
    //Call this once the Cancel button is pressed
    [Parameter] public EventCallback Cancel { get; set; }
}