@page "/introduction"
@inject Test1 Test1

<!-- Oldal layoutja és fejléce -->
<MudContainer Class="d-grid gap-3">
    <MudText Typo="Typo.h4">Bevezetés a Blazor WebAssembly-hez</MudText>
    <!-- Bevezető szöveg -->
    <MudText>
        Üdvözlünk a BlazorCraft oktatási platformon! Ebben a bevezető részben megismerkedhetsz a Blazor WebAssembly alapjaival, összetevőivel és a technológia működésével.
    </MudText>

    <!-- Accordion a fejezetekhez -->
    <MudExpansionPanels Multiple="true">

        <!-- Alfejezet: Mi az a Blazor? -->
        <MudExpansionPanel>
            <TitleContent>
                <MudText Typo="Typo.h6">Mi az a Blazor?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    A Blazor egy Microsoft által fejlesztett web keretrendszer, amely lehetővé teszi a C# és WebAssembly használatát a weboldalak és -alkalmazások fejlesztésében.
                </MudText>
                <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
                <MudText Typo="Typo.h6">Példakód:</MudText>
                <CodeSnippet>
                    <h1>Hello world</h1>
                </CodeSnippet>
                <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
                <MudText Typo="Typo.h6">Teszt</MudText>

            </ChildContent>
        </MudExpansionPanel>

        <!-- Alfejezet: WebAssembly -->
        <MudExpansionPanel>
            <TitleContent>
                <MudText Typo="Typo.h6">WebAssembly</MudText>
            </TitleContent>
            <ChildContent>
                <MudText >
                    A WebAssembly egy bináris instrukciós formátum, amely a modern webböngészőkben gyorsan fut, és lehetővé teszi olyan programok futtatását, amelyek C, C++ vagy más nyelveken íródtak.
                </MudText>
                <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
                <!-- Példakód -->
                <MudText Typo="Typo.h6">Példakód:</MudText>
                <CodeSnippet Language="html">
                    <h1>Hello world</h1>
                </CodeSnippet>
                <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
                <!-- Teszt -->
                <MudText Typo="Typo.h6">Feladat - Hello world</MudText>
                <MudText Typo="Typo.body1">Készítsen egy új komponenst a Components\Introduction mappába HelloWorld.razor néven!</MudText>
                <MudText Typo="Typo.body1">A komponens csak egy h3 típusú html taget tartalmazzon, melynek tartalma: "Hello world"!</MudText>

                <MudTabs Outlined="true" Position="Position.Left" Rounded="true" Border="true"
                         ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6" HeaderPosition="TabHeaderPosition.Before">
                    <TabPanelHeader>
                        <MudTooltip Text="Futtatás" >
                            <MudIconButton  Class="ml-2 pa-1" Color="Color.Success" Icon="@Icons.Material.Filled.PlayArrow" OnClick="()=>RunTest(context.ID)"/>
                        </MudTooltip>

                        @switch (tests[context.ID].result)
                        {
                            case null:
                                <MudIcon Icon="@Icons.Filled.Warning" Color="@Color.Warning"></MudIcon>
                                break;
                            case true:
                                <MudIcon Icon="@Icons.Filled.Check" Color="@Color.Success"></MudIcon>
                                break;
                            default:
                                <MudIcon Icon="@Icons.Filled.Error" Color="@Color.Error"></MudIcon>
                                break;
                        }
                    </TabPanelHeader>
                    <ChildContent>
                        @foreach (var test in tests)
                        {
                            <MudTabPanel Text="@test.Value.title" ID="@test.Key">
                                @{
                                    <div class="d-flex flex-column">
                                        <MudText Typo="Typo.h6">@test.Value.title</MudText>
                                        <MudText Typo="Typo.body1">@test.Value.description</MudText>
                                        @*<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => { testResult1 = Test1.RunTest(); StateHasChanged(); }">Futtatás</MudButton>*@
                                        <MudText >Eredmény: @renderText(@test.Value.result)</MudText>
                                        <MudText>@test.Value.resultText</MudText>
                                    </div>
                                }
                            </MudTabPanel>
                        }
                    </ChildContent>
                </MudTabs>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</MudContainer>

@code
{

    Dictionary<object, (Func<(bool,string?)>, bool? result, string? resultText, string title, string description)> tests = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        tests["1"] = (Test1.RunTest, null, resultText:null, title: "1. Teszt, létező komponens", description:"Ez a teszt ellenőrzni, hogy létrehozta-e a komponenst");
        tests["2"] = (Test1.RunTest2, null, resultText: null, title: "2. Teszt, komponens tartalma helyes", description:"Ez a teszt ellenőrzni, hogy valóban azt tartalmazza-e a komponens, ami az elvárt");
    }

    void RunTest(object ID)
    {
        var valueTuple = tests[ID];
        var item1 = valueTuple.Item1();
        tests[ID] = (valueTuple.Item1, item1.Item1, item1.Item2, valueTuple.title, valueTuple.description);
        Console.WriteLine(item1);
        StateHasChanged();
    }
    
    bool? testResult1 = null;
    bool? testResult2 = null;

    private string renderText(bool? result)
    {
        if (result == null) return "még nem futott";
        return result.Value ? "Siker" : "Elbukott";
    }

    /*private string GetIcon(object contextId)
    {
        var (item1, result, title, description) = tests[contextId];
        if (result == null)
        {
            return Icons.Filled.Warning;
        }
        return result ? Icons.Filled.Check;
    }*/
}
