@using System.Reflection
@using BlazorCraft.Web.Infrastructure
@using BlazorCraft.Web.Infrastructure.Attributes
@using BlazorCraft.Web.Tests
@typeparam TTestClass
@inject ITestRunnerService TestRunnerService
@if (_isInitialized)
{
    <div>
        <div class="d-flex justify-content-between align-items-center mt-8">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.PlayArrow" IconColor="Color.Success" OnClick="() => TestRunnerService.RunAllInTestClass(typeof(TTestClass))">Run all</MudButton>
                <MudText Typo="Typo.body1">Successful: <strong>@_testDescriptors.Count(p => p.Value is {IsSuccessful:true})/@_testDescriptors.Count</strong></MudText>
                <MudText Typo="Typo.body1">Failed: <strong>@_testDescriptors.Count(p => p.Value is {IsSuccessful: false })/@_testDescriptors.Count</strong></MudText>
                <MudText Typo="Typo.body1">Not run: <strong>@_testDescriptors.Count(p => p.Value is null)/@_testDescriptors.Count</strong></MudText>
            </div>
            <MudText Typo="Typo.body1" Class="text-end">Component under test: <strong>@TestComponentName</strong>.razor</MudText>
            </div>
        <MudTabs Outlined="true" Position="Position.Left" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-0" PanelClass="pa-3 " TabPanelHeaderPosition="TabHeaderPosition.Before">
            <TabPanelHeader>
                <div class="d-flex gap-2 me-3">
                    <MudTooltip Text="Run">
                        <MudIconButton Class="ml-2 pa-1" Color="Color.Success" Icon="@Icons.Material.Filled.PlayArrow" OnClick="() => TestRunnerService.RunTest((TestDescriptor)context.ID)"/>
                    </MudTooltip>
                    <MudDivider Vertical="true" Class="h-100 bg-dark fw-bold"></MudDivider>
                    <MudTooltip Text="Run state">
                        @switch (_testDescriptors[(TestDescriptor)context.ID])
                        {
                            case null:
                                <MudIcon Icon="@Icons.Filled.QuestionMark" Color="@Color.Default" Size="Size.Small"/>
                                break;
                            default:
                            {
                                if (_testDescriptors[(TestDescriptor)context.ID]!.IsSuccessful)
                                {
                                    <MudIcon Icon="@Icons.Filled.Check" Color="@Color.Success"/>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Filled.Error" Color="@Color.Error"/>
                                }
                                break;
                            }
                        }
                    </MudTooltip>
                    <MudDivider Vertical="true" Class="h-100 bg-dark fw-bold"></MudDivider>
                </div>
            </TabPanelHeader>
            <ChildContent>
                @foreach (var test in _testDescriptors)
                {
                    <MudTabPanel Text="@test.Key.Title" ID="@test.Key">
                        @{
                            <div class="d-flex flex-column gap-3 w-100">
                                <div class="d-flex justify-content-between">
                                    <MudText Typo="Typo.h5">@test.Key.Title</MudText>
                                    @if (test.Value == null)
                                    {
                                        <MudText Typo="Typo.body1" Color="Color.Warning">Not run</MudText>
                                    }
                                    else if (test.Value.IsSuccessful)
                                    {
                                        <MudText Typo="Typo.body1" Color="Color.Success">Successful</MudText>
                                    }
                                    else
                                    {
                                        <MudText Typo="Typo.body1" Color="Color.Error">Failed</MudText>
                                    }
                                </div>
                                <MudText Typo="Typo.body1">@test.Key.Description</MudText>
                                @*TODO Hint*@
                                <MudText>Result:</MudText>
                                @if (test.Value is {ErrorMessage: not null })
                                {
                                    <MudText Typo="Typo.body1">@test.Value.ErrorMessage</MudText>
                                }
                            </div>
                        }
                    </MudTabPanel>
                }
            </ChildContent>
        </MudTabs>
    </div>
}
else
{
    <MudProgressCircular Indeterminate="true" Color="Color.Primary"/>
}

@code {

    Dictionary<TestDescriptor, TestRunResult?> _testDescriptors = null!;
    bool _isInitialized = false;

    [Parameter]
    public string TestComponentName { get; set; } = typeof(TTestClass).GetGenericArguments().FirstOrDefault()?.Name ?? string.Empty;
    
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        _testDescriptors = TestRunnerService.GetTestRunResultMethods(typeof(TTestClass));
        _isInitialized = true;
        StateHasChanged();

        TestRunnerService.TestStateChanged += (sender, args) =>
        {
            if (_testDescriptors.ContainsKey(args.TestDescriptor))
            {
                if (args.TestRunResult != null)
                {
                    _testDescriptors[args.TestDescriptor] = args.TestRunResult;
                }
                StateHasChanged();
            }
        };
    }

}