@using BlazorCraft.Web.Shared._Exercises.Exam

<MudContainer>
    <MudPaper Style="min-height: 800px; overflow:hidden; position:relative;">
        <MudDrawerContainer Class="mud-height-full">
            <MudDrawer @bind-Open="@_detailsPanelOpen" Width="50%" Fixed="false" Anchor="Anchor.End" Elevation="0" Variant="@DrawerVariant.Persistent">
                @if (_detailsPanelOpen)
                {
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6">Employee Details</MudText>
                    </MudDrawerHeader>

                    @* Bind its attributes *@
                    <ExamEmployeeDetails @key="@(_selectedEmployee?.Id ?? 0)"></ExamEmployeeDetails>
                }
            </MudDrawer>
            <MudDrawer @bind-Open="@_createPanelOpen" Width="50%" Fixed="false" Anchor="Anchor.Start" Elevation="0" Variant="@DrawerVariant.Persistent">
                @if (_createPanelOpen)
                {
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6">Create new Employee</MudText>
                    </MudDrawerHeader>

                    @* Bind its attributes *@
                    <ExamEmployeeCreate></ExamEmployeeCreate>
                }
            </MudDrawer>
            <div>
                @* Bind missing attribute(s) *@
                <MudTable T="ExamEmployee" Class="w-100">
                    <HeaderContent>
                        @* Add as headers here: Id, FirstName, LastName, Position, Salary, and one extra header for Create Employee *@
                        @* For Create employee, use this template (filling in everything that is missing): *@
                        @* <MudButton id="@CreateButtonId" Variant="Variant.Filled" Color="Color.Primary">Create new</MudButton> *@
                    </HeaderContent>
                    <RowTemplate>
                        @* Fill in row content here *@
                        @* For details icon button, you can use this template: *@
                        @* <MudIconButton id="@DetailsId(context.Id)" Icon="@Icons.Material.Outlined.RemoveRedEye" Variant="Variant.Text" Color="Color.Primary"></MudIconButton>*@
                    </RowTemplate>
                </MudTable>
            </div>
        </MudDrawerContainer>
    </MudPaper>

</MudContainer>

@code {

    public const string CreateButtonId = "create";

    public static string DetailsId(int employeeId) => $"details_{employeeId}";

    public List<ExamEmployee> Employees { get; private set; } = null!;

    private ExamEmployee? _selectedEmployee;
    private bool _detailsPanelOpen = false;
    private bool _createPanelOpen = false;

    [Inject] public IExamEmployeeService EmployeeService { get; set; } = null!;
}